@charset "utf-8";
/* CSS Document */

body{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: lightcyan;
	font: 14pt;
	
}

.main{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 450px;
	width: 250px;
	padding: 15px;
	margin: 10px;
	border:solid;
	border-radius: 20px;
	align-items: center;
	
	
}

button {
	width: 80px;
	margin: 5px 0px ;
	background-color: cornflowerblue;
	border-radius: 15px;
	
	
	
}
button:hover{
	background-color: aquamarine;
}
button:active {
background-color: lightgreen;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}
input {
	width: 150px;
	
}
input, lable {
	margin: 5px 0px;
}