/* Add your styles here */
img {
	
	width: 300px
}

h1 {
	font-family: arial;
	padding: 5px;
	color: white;
	font-size: 24px;
	background-color: red;
	
	
}

#author-name-and-date{
	font-family: arial;
	font-size: 12px;
	color: lightgray;
}

p, ol {
	font-family: Times New Roman;
	color:gray;
	font-size: 16px;
}

a {
	font-family: arial;
	font-size: 12px;
	color: blue;
}

